@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html{
    font-family: "Roboto", sans-serif;
}
body{
    margin: 0;
}
.Nav-Header{
    width: 100%;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    height: 100%;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.search-bar{
    height: 100%;
    width: 300px;
    /* background-color: bisque; */
    margin-left: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.action-buttons{
    height: 100%;
    width: 250px;
    /* background-color: blanchedalmond; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.profile-photo{
    background-color: blueviolet;
    height: 25px;
    width: 25px;
    border-radius: 100%;
}
.search-bar input{
    width: 500px;
    height: 30px;
    background-color: white;
    border: #E8EAED 2px solid;
    font-size: 16px;
}
.search-bar button{
    width: 80px;
    height: 30px;
    background-color: white;
    border: #E8EAED 2px solid;
}
::-webkit-scrollbar {
    display: none;
}
.cu-p{
    cursor: pointer;
}

.name{
    
    display: inline-flex;
}

.payment-container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    
}
.about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

.payment-detail{
    display: flex;
}
